py-cord==2.4.1
pycord-components==1.0.2
aiohttp==3.8.5
async-timeout==4.0.2
attrs==23.1.0
chardet==5.2.0
idna==3.4
multidict==6.0.4
yarl==1.9.2
python-dotenv==1.1.1
typing_extensions>=4.11,<5
openai==1.100.2
httpcore==1.0.9
httpx==0.28.1
sniffio==1.3.0
anyio==4.10.0
pytz==2023.3
discord.py==2.3.2
google-genai==1.36.0
# force rebuild v1
