discord.py==2.7.1
davey==0.1.6
PyNaCl==1.5.0
python-dotenv==1.1.1
aiomysql==0.3.2
PyMySQL==1.1.2
cryptography
openai==1.100.2
google-genai==1.56.0
httpx==0.28.1
requests==2.32.5
Flask==3.0.0
flask-discord==0.1.69
fastf1==3.8.1
pandas==2.3.3
waitress==3.0.2
anthropic>=0.116.0
